.datesMenu {
  display: flex;
  align-items: center;
}

.datesMenuBtn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: solid 1px var(--table-color);
  color: var(--text-color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datesMenuBtn:hover {
  border-color: var(--color-white);
}

.imageRotate {
  transform: rotate(180deg);
  height: 20px;
  padding-left: 3px;
}

.btnImage {
  height: 20px;
  padding-left: 5px;
}

.datesMenuText {
  margin: 0 10px;
  color: var(--text-color-white);
  font-weight: 500;
  font-size: 16px;
}

.datesTodayBtn {
  border: none;
  padding: 0;
  background-color: transparent;
  color: var(--text-color-white);
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  border-bottom: solid 1px transparent;
  display: flex;
  align-items: center;
}

.datesTodayBtn:hover {
  border-color: var(--color-white);
}

.datesTodayBtnImg {
  width: 25px;
}

@media (max-width: 768px) {
  .datesMenuBtn {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .imageRotate {
    height: 14px;
  }
  .btnImage {
    height: 14px;
  }
  .datesMenuText {
    margin: 0 7px;
    font-size: 14px;
  }
  .datesTodayBtn {
    font-size: 14px;
    margin-left: 7px;
  }
  .datesTodayBtnImg {
    width: 21px;
  }
}
