
.popoverContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.popoverBtns {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  opacity: .7;
}

.button:first-child {
  margin-right: 10px;
}

.button img {
  width: 30px;
}