.blockContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 50px;
  row-gap: 10px;
  margin-bottom: 30px;
}

.blockContainerRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
}

.buttonBack {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.buttonBack img {
  width: 30px;
  transform: rotate(180deg);
}

.buttonEdit {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.buttonEdit:hover {
  opacity: .7;
}

.buttonEdit img {
  width: 30px;
}

@media (max-width: 768px) {
  .blockContainerRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttonEdit {
    right: 55px;
  }
}
