.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumn li {
  margin-bottom: 10px;
}
.flexColumn ul {
  margin-bottom: 20px;
}

.blockContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 50px;
  row-gap: 10px;
  margin-bottom: 20px;
}

.blockContainerRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
}

.blockTitle {
  margin-bottom: 20px;
  width: 100%;
}

.workoutCard {
  padding: 20px 10px;
  border-radius: 15px;
  background-color: var(--navigation-active-color);
}