.eventsGroup {
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid var(--table-color);
  border-radius: 12px;
  margin-right: 4px;
  /* border-right: none; */
}
.eventsGroup:last-child {
  border-right: 1px solid var(--table-color);
  margin-right: 0;
}

.eventsGroupTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: calc(var(--schedule-rows-height) / 2);
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  color: var(--text-color-grey);
  font-size: 16px;
}

.eventsGroupDate {
  color: var(--text-color-white);
  font-weight: 500;
}

.eventsGroupDateActive {
  text-decoration: underline;
  font-size: 18px;
}

.eventsGroup ul {
  height: fit-content;
  overflow: visible;
  padding: 0;
  list-style: none;
}

.eventsGroupBtnContainer {
  display: flex;
  justify-content: center;
  margin: 10px ;
}

.eventsGroupBtn {
  padding: 5px 10px;
  background-color: var(--text-color-white);
  border: none;
  color: var(--app-background);
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}
.eventsGroupBtn:hover {
  background-color: transparent;
  border: 2px solid var(--text-color-white);
  color: var(--text-color-white);
}

@media (max-width: 1023px) {
  .eventsGroupTitle {
    display: none;
  }
  .eventsGroup {
    border: none;
  }
  .eventsGroup:last-child {
    border: none;
  }
}
