:root {
  --color-green-1: #3b887b;
  --color-green-2: #125446;
  --color-blue-1: #6d94c4;
  --color-blue-2: #284d79;
  --color-violet-1: #995e7c;
  --color-violet-2: #683142;
  --color-orange-1: #d7620f;
  --color-orange-2: #961b06;
  --color-red-1: #fc5f6a;
  --color-red-2: #e7242d;
  --color-white: #fff;

  --schedule-rows-height: 100px;
  --schedule-rows-number: 24;
  --table-color: #6c7293;
  --app-background: #000000;
  --app-background-rgb: 0, 0, 0;
  --card-background: #191c24;
  --navigation-active-color: #0f1015;
  --text-color-white: #fff;
  --text-color-grey: #6c7293;
  --event-done: rgba(108, 114, 147, 0.6);
}

.container {
  margin: 0 auto;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 244px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "aside header"
    "aside main";
}

@media (max-width: 1199px) {
  .container {
    grid-template-columns: 120px 1fr;
  }
}

@media (max-width: 768px) {
  :root {
    --schedule-rows-height: 50px;
  }
  .container {
    grid-template-areas:
      "main"
      "header";
    grid-template-columns: 1fr;
    grid-template-rows: calc(100dvh - 70px) 70px;
  }
}
