.cardBody {
  padding: 20px;
  border: 1px solid var(--card-background);
  border-radius: 10px;
  background-color: var(--card-background);
  min-width: 320px;
  flex-basis: 320px;
  position: relative;
}
