.mainPanel {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.containerWrapper {
  background: var(--app-background);
  padding: 30px;
  flex-grow: 1;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


@media (max-width: 768px) {
  .containerWrapper {
    padding: 0;
  }
  .mainPanel {
    overflow-y: scroll;
  }
}
