.mainPanel {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.containerWrapper {
  background: var(--app-background);
  padding: 1.875rem 1.75rem;
  flex-grow: 1;
}

.cardBody {
  padding: 1.75rem 1.5625rem;
  border: 1px solid var(--card-background);
  border-radius: 0.25rem;
  min-height: 5px;
  background-color: var(--card-background);
}


@media (max-width: 768px) {
  .containerWrapper {
    padding: 0;
  }
  .mainPanel {
    overflow-y: scroll;
  }
  .cardBody {
    padding: 1rem 1.5625rem;
  }

}
