.eventsItem {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 5px;
}

.eventsItem:hover {
  opacity: 0.9;
}

.eventsItemContentS {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}

.eventsItemContentL {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.eventsItem p {
  padding: 0;
  margin: 0;
  text-wrap: nowrap;
  overflow: hidden;
  padding-left: 4%;
}

.tagDone {
  position: absolute;
  top: 0px;
  right: 2px;
  width: 30px;
  height: 30px;
  background-color: var(--color-green-1);
  border: 1px solid var(--color-green-1);
  border-radius: 50%;
}
.tagDone img {
  width: 30px;
}
