.mobileDatesLine {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.mobileDateContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.mobileDateDay {
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text-color-grey);
}

.mobileDateBtn {
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--table-color);
  color: var(--text-color-white);
  width: auto;
  padding: 10px;
  cursor: pointer;
}

.mobileDateBtnActive {
  background-color: var(--color-green-1);
  border-top-color: var(--color-green-1);
  border-bottom-color: var(--color-green-1);
}

@media (max-width: 768px) {
  .mobileDatesLine {
    margin-bottom: 20px;
  }
  .mobileDateDay {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .mobileDateBtn {
    font-size: 14px;
  }
}
