.nav {
  list-style: none;
  padding-left: 0;
  padding-right: 20px;
  margin: 0;
  margin-top: 100%;
}

.navItem {
  padding: 10px 20px 10px 40px;
  background: transparent;
  border-radius: 0px 100px 100px 0px;
  color: var(--text-color-white);
  cursor: pointer;
  opacity: 0.5;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navItem:hover {
  background: var(--navigation-active-color);
  opacity: 1;
}

.withSubMenu {
  position: relative;
}

.withSubMenu:hover .navItem {
  background: var(--navigation-active-color);
  opacity: 1;
}

.navItemActive {
  background: var(--navigation-active-color);
  opacity: 1;
}

.navItem a {
  text-decoration: none;
  color: var(--text-color-white);
  display: flex;
  align-items: center;
}

.navItem img {
  width: 40px;
  padding-right: 5px;
}

.subMenu {
  display: flex;
  flex-direction: column;
  padding-left: 85px;
  gap: 10px;
  margin: 10px 0;
}

.subMenuInActive {
  opacity: 0.5;
}

.subMenuActive {
  opacity: 1;
}

.subMenuInActive:hover {
  opacity: 1;
}

.collapsed {
  display: none;
}

.show {
  display: flex;
}

@media (max-width: 1199px) {
  .navItem {
    padding-left: 10px;
  }
  .navItem span {
    display: none;
  }
  .subMenu {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .nav {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    padding-right: 0;
  }
  .navItem {
    padding: 10px;
    border-radius: 50%;
  }
  .navItem img {
    padding-right: 0;
    width: 30px;
  }
  .subMenu {
    flex-direction: row;
    padding-left: 0;
    gap: 5px;
    margin: 0;
  }
  .subMenu a {
    color: #000000;
    font-weight: 500;
  }
}
